* text=auto

.gitattributes text eol=lf
*.md text eol=lf
*.mdx text eol=lf
*.json text eol=lf
*.py text eol=lf
*.html text eol=lf
*.css text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.cff text eol=lf
CODEOWNERS text eol=lf
